@import "~antd/dist/antd.css";
body {
  margin: 0;
  padding: 0;
  width: auto;
  height: auto;
  font-family: "Montserrat", serif;
  color: black;
  background: #383838;
}
h1,h2,h3,h4,h5,h6 {
  margin:0;
}
